- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%div.span12
  .row
    .span4.well
      %table.table
        %tr
          %td{width: '25%'}
            %strong= model_class.human_attribute_name(:name) + ':'
          %td= @user.name

        %tr
          %td
            %strong= model_class.human_attribute_name(:login) + ':'
          %td= @user.login

        %tr
          %td
            %strong= model_class.human_attribute_name(:balance) + ':'
          %td= @user.balance
      .form-actions
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-primary'
    .span8

%div.span12

-#- simple_form_for @transfer