%h1 Upload a new CSV file

= simple_form_for(@csv_file, :html => {:multipart => true, class: 'well'} ) do |f|
  = f.error_notification

  .form-inputs
    = f.file_field :file

  .form-actions
    = f.button :submit, 'Upload', class: 'btn btn-primary'

= link_to 'Back', csv_files_path
