= link_to 'Back', csv_files_path

%p#notice= notice
%p
  %b
    ID:
  = @csv_file.id
%p
  = link_to "Download '#{@csv_file.name}'", file_csv_file_path(@csv_file), class: 'btn btn-mini btn-success'

%p
  Contents :
  .well
    = simple_format(@csv_file.file.read)



