%p#notice= notice
%p
  %b
    ID:
  = @csv_file.id
%p
  %b File
  = link_to "Download '#{@csv_file.name}'", file_csv_file_path(@csv_file), class: 'btn btn-mini'

= link_to 'Edit', edit_csv_file_path(@csv_file)
\|
= link_to 'Back', csv_files_path
