.well.well-large
  %p#notice= notice
  %p
    = link_to "Download '#{@csv_file.name}'", file_csv_file_path(@csv_file), class: 'btn btn-mini btn-success'

  %h4 Headers :
  = @headers.join(', ')


  %h4 File contents :
  %table.table.table-striped.table-condensed.table-hover
    - @csv_data.each_with_index do |row, idx|
      %tr
        - row.each do |cell|
          - if idx == 0
            %th= cell
          - else
            %td= cell

